{% load static %}
<!doctype html>
<html>
    <head>
	<title> MOUHAMMAD`s PaGe</title>
	<link rel="stylesheet" type="text/css" href="{% static 'polls/hp.css' %}"/>
	
    </head>
    <body>
	<div id = "div"><ul>
  		<li><a href="default.asp">Contact Me</a></li>
  		<li><a href="History.asp">History</a></li>
  		<li><a href="News.asp">News</a></li>
  		<li><a href="Be A Madridista.asp">Be a Madridista</a></li>
	</ul></div>
	<h3> Contact me : 0542397103</h3 </br> <h3> E-Mail : Mouhammad..dari@hotmail.com </h3>
	
	
